body {
  margin: 0;
}

.top-flexbox {
  width: 100%;
  background-image: linear-gradient(white, rgb(230, 222, 222));
  height: 45px;
  display: flex;
  flex-direction: row;
}

.flex-div {
  height: 100%;
  width: 10%;
  margin-right: 2%;
  margin-top: 13px;
  text-align: center;
}

#top-link:hover {
  text-decoration: underline;
}

#settingsmenu {
  position: absolute;
  right: 0;
  height: auto;
  border: none;
  width: 5%;
  margin-top: 6px;
}

.fa-solid {
  font-size: 30px;
  margin-top: 2px;
}

.fa-solid:hover {
  color: blue;
}

.background-gif {
  width: 100%;
  height: 600px;
  background-color: grey;
}

.gif-header {
  font-size: xx-large;
  padding-top: 10%;
  padding-left: 10%;
  color: azure;
}

.gif-text {
  font-size: larger;
  float: right;
  padding-top: 6%;
  padding-right: 10%;
  max-width: 13%;
}

.info-box {
  background-image: radial-gradient(white, rgb(204, 204, 204));
  width: 230px;
  height: 350px;
  border-radius: 8px 8px;
  margin: 2%;
}

.info-box:hover {
  box-shadow: 5px 5px 5px 4px #0000008b;
  transition: 1s;
}

.info-box-image {
  padding-top: 5%;
  padding-left: 10%;
  width: 80%;
  height: 36%;
}

h1 {
  font-size: larger;
  text-align: center;
}

.central {
  padding-right: 10%;
  padding-left: 10%;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-column-gap: 5vh;
  justify-items: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
}

.info-flexbox {
  width: 100%;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  width: 100%;
  background-image: radial-gradient(rgb(176, 176, 176), rgb(161, 161, 161));
  height: 100px;
  bottom: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

a.two:hover {
  text-decoration: underline;
}

#logo {
  font-size: x-large;
  height: auto;
  width: 7%;
  margin-top: 6px;
  margin-left: 5px;
}

#Intro_image {
  background-image: url(Intro_Backgound.jpg);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: small;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown {
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 400px) {
  .info-flexbox {
    height: 2000px;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .info-flexbox {
    height: 1200px;
  }
}

@media screen and (max-width: 900px) and (min-width: 800px) {
  .info-flexbox {
    height: 800px;
  }
}

#dark-mode {
  background-color: black;
  color: white;
}

.dark-div {
  background-color: rgb(32, 29, 29);
}

#label {
  width: 15px;
  height: auto;
  background-color: black;
}

#dropdown-text {
  font-size: x-small;
}
